.editable-parent.disabled .toggle-wrap {
    pointer-events: auto;
    opacity: 1;
}


.toggle-wrap {

    position: absolute;
    z-index: 9;
    top: 0;
    right: 72px;
    width: 55px;
    height: 27px;
    background: #3fbaff;
    padding: 5px 10px;
    outline: 1px solid var(--toggle-color);
    display: none;

    &.active {
        display: block;
    }
}

.editable-parent {
    .toggle-wrap {
        right: unset;
        left: 0;
    }
}

.editable-child {
    padding-top: 1px;
    outline: 1px dashed #ccc;
    outline-offset: 5px;
    margin: 20px auto;

    .toggle-wrap {
        left: unset;
        right: -5px;
        top: -5px;
        outline: 1px dashed #ccc;
        height: 29px;
    }
}


.toggle-button-demo {
    text-align: center;
}

h4 {
    font-size: 20px;
    color: #333;
}

.toggle-ios {
    display: none;
}

.toggle-ios+.toggle-btn {
    outline: 0;
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #fbfbfb;
    border-radius: 2em;
    padding: 2px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    border: 1px solid #e8eae9;
}

.toggle-ios+.toggle-btn:after {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    left: 0;
    border-radius: 2em;
    background: #fbfbfb;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}

.toggle-ios:checked+.toggle-btn {
    background: var(--toggle-color);
}

.toggle-ios:checked+.toggle-btn:after {
    left: 50%;
}
.fancybox-margin {
    margin-right: 15px;
}